<p id="notice"><%= notice %></p>

<p>
  <strong>Employeeid:</strong>
  <%= @attendace3.employeeid %>
</p>

<p>
  <strong>Employeename:</strong>
  <%= @attendace3.employeename %>
</p>

<p>
  <strong>Date:</strong>
  <%= @attendace3.date %>
</p>

<p>
  <strong>Intime:</strong>
  <%= @attendace3.intime %>
</p>

<p>
  <strong>Outtime:</strong>
  <%= @attendace3.outtime %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @attendace3.discription %>
</p>

<%= link_to 'Edit', edit_attendace3_path(@attendace3) %> |
<%= link_to 'Back', attendace3s_path %>
<h2> <%= link_to 'Back', home_index_path %> </h2>

