<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @employee2.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee2.lastname %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee2.salary %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee2.gender %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @employee2.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee2.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @employee2.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee2.city %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @employee2.pincode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee2.address %>
</p>

<%= link_to 'Edit', edit_employee2_path(@employee2) %> |
<%= link_to 'Back', employee2s_path %>
